.nav-bar#nav(class= "flex fixed z-20 h-16 bottom-0 md:top-0",
    class="w-screen",
    class="justify-center items-center",
    class=" dark ease-in-out duration-300")
    .nav-container(class="flex",
        class="w-full max-w-6xl",
        class="justify-center items-center")
        .nav-container-left(class="flex md:hidden"
            class="justify-center"
            class="text-3xl")
            .menu-items.side-nav(class="h-full ease-in-out duration-300 w-0 left-0 pt-12 max-w-3xl"
                class="fixed top-0"
                class="md:hidden flex flex-col"
                class="overflow-hidden"
                class="bg-zinc-900 text-zinc-100 font-extralight")#sideNav
                +menuBar()
            span.menu-icon(onClick="openNav()"
                class="flex md:hidden justify-center items-center" 
                class="h-16 w-16 ")
                i.fa-solid.fa-bars
                //- i#menu-random.random.fa-solid
        .nav-container-largemenu.hidden(class="md:flex")
            +largeMenuBar()
        .nav-container-right(class="flex absolute right-8 md:right-1/5 md:mr-16")
            span.scroll-hidden.hidden.text-xl Cesar Cobos