.nav-bar#nav(class= "background-light index-over bottom-0 display-flex position-fixed"
        class="width-100vw"
        class="place-center"
        class="transition-5s")
    .nav-container(class="display-inherit"
                    class="justify-between items-center"
                    class="width-100vw height-64 max-width-1300"
                    class="padding-x-32")
        .nav-container-left.text-size-18
            .menu-items.side-nav.background-dark.top-0.media-lg-flex-column#sideNav(
                class="height-100vh transition-5s overflow-hidden position-fixed")
                +menuBar()
            span.menu-icon(onClick="openNav()"
                class="display-flex justify-center items-center" 
                class="height-64 width-64 padding-16")
                i.fa-solid.fa-bars.text.dark-text
                i#menu-random.random.fa-solid.dark-text
        .nav-container-right(class="display-inherit padding-x-16")
            span.light-text.text Cesar Cobos