meta(charset="UTF-8")
meta(http-equiv="X-UA-Compatible", content="IE=edge")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")

meta(name="description" content=nameDescription)

//- Favicon
link(rel="shortcut icon", href="https://drive.google.com/uc?export=view&id=1S5Dfb4ER5X1faqUdnRqa1qwsqWTvLRPp", type="image/x-icon")

title= page_title
meta(name="title" content=search_title)
meta(name="description" content=nameDescription)

//- Facebook--opengraph
meta(property="og:type" content="website")
meta(property="og:url" content="https://cesar-cobos.com/") 
meta(property="og:title" content=ogtitle)
meta(property="og:description" content=nameDescription)
meta(property="og:image" content=ogimage)

//- Twitter card 

meta(property="twitter:card" content="summary_large_image")
meta(property="twitter:url" content="https://cesar-cobos.com/")
meta(property="twitter:title" content=ogtitle)
meta(property="twitter:description" content=nameDescription)
meta(property="twitter:image" content=ogimage)




