.nav-bar#nav(class= "display-flex position-fixed index-over bottom-0"
    class="width-100vw"
    class="justify-center items-center"
    class="transition-5s background-light")
    .nav-container(class="display-inherit",
        class="width-100vw height-16 max-width-1300",
        class="justify-center items-center")
        .nav-container-left(class="display-flex"
                class="justify-center"
                class="text-size-3xl")
            .menu-items.side-nav(class="height-100"
                class="position-fixed top-0"
                class="media-lg-display-none media-lg-flex-column"
                class="transition-5s overflow-hidden"
                class="background-dark")#sideNav
                +menuBar()
            span.menu-icon(onClick="openNav()"
                class="display-inherit media-lg-display-none justify-center items-center" 
                class="height-16 width-16 ")
                i.fa-solid.fa-bars.dark.dark-text
                i#menu-random.random.fa-solid.dark-text.dark
        .nav-container-largemenu.display-none.media-lg-display-flex
            +largeMenuBar()
        .nav-container-right(class="display-inherit position-absolute")
            span.light-text Cesar Cobos