.nav-bar(class= "display-flex"
        class="width-100vw"
        class="place-center"
        class="transitio-5s")
    .nav-container(class="display-inherit"
                    class="justify-between items-center"
                    class="width-100vw height-64 max-width-1300"
                    class="padding-x-32")
        .nav-container-left
            .menu-items.side-nav#sideNav(class="transition-5s")
                +menuBar()
            span(onClick="openNav()" class="transition-5s")
            .nav-small_menu
        .nav-container-right(class="display-inherit padding-x-32")
            span Cesar Cobos
            
        